// Simple Form css

.simple_form .signup-form{

  width: 20%;
  margin: auto;

}

.form-filter {
  float: right;
}

.form-filter select {
  margin:5px;
}

.form-filter label{
  font-weight: bold;
  font-size: 15px;  

}

.table .number {
  text-align: right;  
}

@media print {
  .noPrint {
      display: none;
      visibility: hidden;
  }
}

.table-invoice {
  border-collapse: collapse !important;
}

